@import './_0_tailwind.postcss';
@import './_1_theme-token.postcss';
@import './_2_theme-light.postcss';
@import './_3_theme-dark.postcss';
@import './_4_var.postcss';
@import './_5_base.postcss';
@import './_6_tooltip.postcss';
@import './_7_markdown.postcss';
@import './_8_prisma.postcss';
