<script lang="ts">
	/* import Test from '$lib/website/markdowns/Test.md'; */
	import Test from '$lib/website/markdowns/Test.svx';
	import { Main, MainContent, SidebarRight } from '$lib/website/templates/base';
</script>

<Main>
	<MainContent>
		<p>introduction</p>
		<a href="/docs/installation">installation</a>
		<a href="/" class="">home</a>

		<Test />
		<Test />
		<Test />
	</MainContent>
	{#snippet sidebarRight()}
		<SidebarRight />
	{/snippet}
</Main>
